@import "../../App.scss";

.side-primary {
  color: var(--primary);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  padding: 20px 8px 0 8px;
}

.col {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: var(--text-color);
  transition: background-color ease-in-out 200ms;
  cursor: pointer;

  & .side-icon {
    // width: 24px;
    // height: 24px;
  }

  & .side-title {
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
  }

  &.active {
    color: var(--primary);

    .side-icon {
      display: none;
    }

    .side-active-icon {
      display: flex;
    }
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.side-icon,
.side-active-icon {
  display: flex;
}

.side-active-icon {
  display: none;
}

.side-label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
}

.check-icon {
  margin-left: 4px;
  color: #20d5ec;
}

.account-info {
  margin-left: 12px;
}

.account-un {
  font-size: 1rem;
  color: rgb(22, 24, 35);
  font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
}
.account-name {
  font-size: 0.875rem;
}

.suggested-accounts {
  position: relative;
  padding: 16px 0px;

  &::before {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    width: 100%;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
  }
}
